.ContainerHeader{
    display:flex;
    align-items: center;
    justify-content: center;
    .heading{
        font-weight:bold;
        font-size:1.7rem;
        color:#fff;
        transition:all 0.3s ease;
        &hover{
            color:#ceced7;
        }
    }
}