@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Comfortaa:wght@300;400;500;600;700&family=Poppins:wght@200&family=Shantell+Sans:ital,wght@0,300;1,300&display=swap');
body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Comfortaa', cursive;
}
